/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato' sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

#main-nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
    z-index: 2;
}

#main-nav > ul {
    margin: 0;
    float: right;

}

#main-nav > ul > li {
    display: inline-block;
    outline-style: none;
    padding: 20px 40px;
}

#main-nav > ul > li > a {
    text-decoration: none;
    font-weight: 300;
    color: #1ac056;
    width: 100%;

}

#main-nav > ul > li > a:hover {
    color: #291f1a;

}

#main-header {
    background-size: cover;
    background-position: center;
    background-image: url(/img/header-background.jpg);
    background-repeat: no-repeat;
    color: #fff;
}

#main-header .main-header-content {
    padding: 30px;
    color: white;

}

#main-header .main-header-content span {

    color: green;
    font-weight: 400;

}

#main-header .main-header-content h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-align: center;
}

#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 200;
    text-align: center;
}


.main-header-content {
    padding: 30vh%;
}

#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

#about > figure {
    width: 50%;
    margin: 0;
    float: left;
    text-align: center;
}

#about > article {
    width: 50%;
    float: left;

}

#about span {
    color: green;
}

#about h2 {
    text-align: center;

}

.about-content {
    width: 50%;
}

#about > figure > img {
    max-height: 350px;
    border: 14px #fff solid;
    border-radius: 15px;
    max-width: 100%;
}

section {
    padding: 0 80px 100px;
    width: 100%;
}
