/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

section,
footer {
    padding: 40px;
    overflow: hidden;
}

h1 {
    color: brown;
}

#main-nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
    z-index: 2;
}

#main-nav > ul {
    margin: 0;
    float: right;

}

#main-nav > ul > li {
    display: inline-block;
    outline-style: none;
    padding: 20px 40px;
}

#main-nav > ul > li > a {
    text-decoration: none;
    font-weight: 300;
    color: #1ac056;
    width: 100%;

}

#main-nav > ul > li > a:hover {
    color: #291f1a;
}

#main-header {
    background-size: cover;
    background-position: center;
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
}

#main-header .main-header-content {
    padding: 10vh;
    text-align: center;
}

#main-header .main-header-content span {
    color: green;
    font-weight: 400;
}

#main-header .main-header-content h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 200;
}

.main-header-content {
    padding: 30vh%;
}

#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

#about > figure {
    max-width: 50%;
    margin: 0;
    float: left;
    text-align: center;
}

#about > article {
    width: 50%;
    float: left;

}

#about span {
    color: green;
}

#about h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;

}

.about-content {
    width: 50%;
    padding-left: 20px;
}

#about > figure > img {
    max-height: 350px;
    border: 14px #291f1a solid;
    border-radius: 15px;
    max-width: 100%;
}

#skills {
    padding: 0 80px 100px;
    width: 100%;
}

#skills h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 80px;
}

#skills > p {
    text-align: center
}


#portfolio .portfolio-item {
    height: 350px;
    width: 33.333%;
    float: left;
    position: relative;
    background-size: cover;
}


#portfolio .portfolio-item .portfolio-item-mask {
    background-color: rgba(33, 59, 80, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.3s;


}

#portfolio .portfolio-item .portfolio-item-mask:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg)
}

#portfolio .portfolio-item .portfolio-content {
    border: 1px solid #fff;
    color: white;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

#portfolio .portfolio-item .potrfolio-content-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio .portfolio-item a {
    color: #fff;
    font-size: 2em;
    transition: all 0.3s;
}

#portfolio .portfolio-item a:hover {
    color: #2074b8;
}

#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg)
}

#portfolio-item-3 {
    background-image: url(../img/portfolio4.jpg)
}

#contact {
    background-color: #213b50;
    color: #fff;
}

#contact {
    clear: both;
}

#contact h2 {
    font-weight: 300;
    text-align: left;
    font-size: 30px;
}

#contact h2 span {
    color: chartreuse;
    font-weight: 400;
}

#contact .address-data {
    margin: 35px 0;
}

input,
button {
    display: block;
}

h1 > span {
    color: chartreuse;
}

.address-data a {
    color: #fff;


}

#skills-icons {
    text-align: center;
    margin-top: 50px;
}

#skills #skills-icons figure {
    display: inline-block;
    margin: 30px;
}

figurgapture {
    text-align: center;
}

.contact-social-icons i {
    font-size: 35px;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 14px;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

#contact .contact-data {
    float: left;
    width: 50%;
}

#contact .contact-form {
    width: 50%;
    float: left;
    display: inline-block;
}

.contact-form input:not([type="submit"]),
#contact form textarea {

    width: 100%;
    background-color: #2f4c64;
    margin-bottom: 15px;
    border: none;
    padding: 15px;




}

.contact-form input[type="submit"] {
    float: right;
    background-color: chartreuse;
    color: aliceblue;
    border: none;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.contact-form input[type="submit"]:hover {
    background-color: #fff;
    color: #1ac056;

}

.footer {
    background-color: rgba(16, 36, 52, 0.7);
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

#main-nav .toggle,
#main-nav #drop {
    display: none;
}
