/* General styles */

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*  color: #333333;*/
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  transition: all .4s;
}

.navbar .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #d4caca;
}



.navbar .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
  color: #656262;
}

.scroll {
  background-color: rgba(14, 216, 214, 0.5);
  transition: all .4s;

}

.scroll .navbar-nav .nav-link:hover,
.scroll .navbar-brand:hover {
  color: #333333;
}

.progressbar {
  height: 10px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(14, 216, 214, 0.8)
}

.header-h {
  color: #d4caca;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 20px;
}

#main-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.section-header h2 {
  padding-top: 80px;
}

.section-header p {
  font-family: 'Droid Serif', sans-serif;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#projects {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  background-color: #101a1a;
  color: #d4caca;
  text-align: center;
}

.projects-item figcaption p {
  font-family: 'Droid Serif', sans-serif;
  font-size: 18px;
}


.parallax {
  width: 100vw;
  height: 100vh;
  background: url(../img/4.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.projects-image-holder {
  height: 250px;
  border: 2px solid #000;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

}

.projects-image-holder img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  transition: all .4s;
}

.projects-image-holder:hover img {
  transform: scale(1.4);
}

.projects-image-holder .projects-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 216, 214, 0.4);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2em;
  transition: all .4s;
  opacity: 0;
}

.projects-image-holder:hover .projects-mask {
  opacity: 1;

}

#technologies {
  color: #d4caca;
}

svg {
  width: 100px;
  height: 100px;
}

#technologies .tech-row {
  padding-top: 15vh;
}
