/* General styles */

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d4caca;
  font-family: 'Montserrat', sans-serif;
}

.navbar .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #d4caca;
}

.navbar .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
  color: #0ed8d6;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 20px;
}

#main-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
}
